{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <style>
        th, td {
            font-size: 12px !important;
        }
    </style>

    <!-- Page Heading -->
    <h3 class="h3 mb-2 text-gray-800">History of Analyses</h3>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">

            {% if analyses|length %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Script</th>
                            <th>Datetime</th>
                            <th>Key Rank</th>
                            <th>Elapsed Time</th>
                            <th>NN Name</th>
                            <th>Results</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Script</th>
                            <th>Datetime</th>
                            <th>Key Rank</th>
                            <th>Elapsed Time</th>
                            <th>NN Name</th>
                            <th>Results</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for analysis in analyses %}
                            <tr>
                                <td>{{ analysis.id }}</td>
                                <td style="font-size: 14px !important;"><a
                                        href="{{ url_for('script', analysis_id=analysis.id) }}">{{ analysis.script }}</a>
                                </td>
                                <td>{{ analysis.datetime }}</td>
                                {% if analysis.model_fixed == True %}
                                    <td style="padding: 0px;">
                                        <div class="table-responsive"></div>
                                        <table width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Key Byte</th>
                                                <th>Metric</th>
                                                {% if analysis.multiple_trainings == True %}
                                                    <th>Guessing Entropy</th> {% else %}
                                                    <th>Key Rank</th>{% endif %}
                                                {% if analysis.multiple_trainings == True %}
                                                    <th>Success Rate</th> {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for key_ranks in analysis.key_ranks %}
                                                {% set rowloop = loop %}
                                                {% for key_rank in key_ranks %}
                                                    <tr>
                                                        <td>{{ key_rank.key_byte }}</td>
                                                        <td>{{ key_rank.metric }}</td>
                                                        <td>
                                                            {% if key_rank.key_rank < 4 %}
                                                                <b class="text-success">{{ key_rank.key_rank }}</b>
                                                            {% elif key_rank.key_rank < 16 and key_rank.key_rank >= 4 %}
                                                                <b class="text-info">{{ key_rank.key_rank }}</b>
                                                            {% elif key_rank.key_rank < 64 and key_rank.key_rank >= 16 %}
                                                                <b class="text-secondary">{{ key_rank.key_rank }}</b>
                                                            {% elif key_rank.key_rank < 128 and key_rank.key_rank >= 64 %}
                                                                <b class="text-warning">{{ key_rank.key_rank }}</b>
                                                            {% else %}
                                                                <b class="text-danger">{{ key_rank.key_rank }}</b>
                                                            {% endif %}
                                                        </td>
                                                        {% if analysis.multiple_trainings == True %}
                                                            <td>
                                                                {% if analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] >= 80 %}
                                                                    <b class="text-success">{{ analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] }}</b>
                                                                {% elif analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] < 80 and analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] >= 60 %}
                                                                    <b class="text-info">{{ analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] }}</b>
                                                                {% elif analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] < 60 and analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] >= 40 %}
                                                                    <b class="text-secondary">{{ analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] }}</b>
                                                                {% elif analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] < 40 and analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] >= 20 %}
                                                                    <b class="text-warning">{{ analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] }}</b>
                                                                {% else %}
                                                                    <b class="text-danger">{{ analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] }}</b>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>{{ analysis.elapsed_time }}</td>
                                    <td>{{ analysis.neural_network_name }}</td>
                                    <td style="font-size: 20px !important;">
                                        <a href="{{ url_for('result', analysis_id=analysis.id, plot_color="dark") }}">
                                            <i class="fas fa-fw fa-chart-area text-dark"></i>
                                        </a>
                                        <a href="{{ url_for('result', analysis_id=analysis.id, plot_color="lightgrey") }}">
                                            <i class="fas fa-fw fa-chart-area text-gray-400"></i>
                                        </a>
                                    </td>
                                {% else %}
                                    <td>-</td>
                                    <td>{{ analysis.elapsed_time }}</td>
                                    <td>-</td>
                                    <td style="font-size: 20px !important;">
                                        <a href="{{ url_for('result_hyper_parameter', analysis_id=analysis.id, plot_color="dark") }}">
                                            <i class="fas fa-fw fa-chart-area text-dark"></i>
                                        </a>
                                        <a href="{{ url_for('result_hyper_parameter', analysis_id=analysis.id, plot_color="lightgrey") }}">
                                            <i class="fas fa-fw fa-chart-area text-gray-400"></i>
                                        </a>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h6>Nothing to show</h6>
            {% endif %}
        </div>
    </div>
{% endblock %}