{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <h5>Hyper-Parameters (Hiplot)</h5>
    </div>
    {% include 'hiplot.html' %}

    <div class="row">
        {% for plot in hp_plots %}
            <div class="col-lg-6 col-xl-6 col-md-12" style="padding-top: 10px;">
                <div class="card shadow mb-6">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{ plot.title }}</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="chart" id="plot_{{ loop.index - 1 }}">
                            <script>
                                var plotly_layout = {{ plot.layout_plotly | tojson }};
                                var graphs = {{plot.plot | safe}};
                                Plotly.plot('plot_{{ loop.index - 1 }}', graphs, plotly_layout);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}