{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="row" style="padding-top:10px;">
        <div class="col-12">
            <div class="card shadow mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Training Information</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Mini-batch
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ training_hyper_parameters.mini_batch }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Epochs
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ training_hyper_parameters.epochs }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Learning Rate
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ training_hyper_parameters.learning_rate |round(6, 'floor') }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Optimizer
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ training_hyper_parameters.optimizer }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Training Set
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ training_hyper_parameters.training_set }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Validation Set
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ training_hyper_parameters.validation_set }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Test Set
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ training_hyper_parameters.test_set }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:10px;">
        <div class="col-12">
            <div class="card shadow mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Leakage Model</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Cipher
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ leakage_model.cipher }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Leakage Model
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ leakage_model.leakage_model }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Target Operation
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ leakage_model.operation }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:10px;">
        <div class="col-12">
            <div class="card shadow mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Keras Model Information</h6>
                </div>
                <pre style="margin: 0">
            <code class="language-python">
{{ file_contents }}
            </code>
        </pre>
            </div>
        </div>
    </div>

    <div class="row">
        {% for metric_plots in all_plots %}
            <div class="col col-lg-12 col-xl-6 col-md-12" style="padding-top:10px;">
                <div class="card shadow mb-6">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{ metric_plots.title }}</h6>
                    </div>
                    <div class="chart" id="{{ metric_plots.title }}_plot">
                        <script>
                            var plotly_layout = {{ metric_plots.layout_plotly | tojson }};
                            {% for plot in metric_plots.plots %}
                                var graphs = {{plot | safe}};
                                Plotly.plot('{{ metric_plots.title }}_plot', graphs, plotly_layout);
                            {% endfor %}
                        </script>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for key_rank_plots in all_key_rank_plots %}
            {% for key_rank_metric_plot in key_rank_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Key Rank (or Guessing Entropy) - Key
                                Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="key_rank_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ key_rank_plots.layout_plotly | tojson }};
                                {% for plot in key_rank_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('key_rank_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for success_rate_plots in all_success_rate_plots %}
            {% for success_rate_metric_plot in success_rate_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-6">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Success Rate - Key
                                Byte {{ key_byte_index }}</h6>
                        </div>
                        <div class="chart" id="success_rate_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ success_rate_plots.layout_plotly | tojson }};
                                {% for plot in success_rate_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('success_rate_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>


{% endblock %}